<h1>Market</h1>

<div class='container'>
  <div class='posts'>
    <%= @posts.each do |post| %>
    <li> <%= post.title %>, <%= post.url %>, <%= post.price %> <%= post.type %></li>

  <% end %>
  </div>
</div>
